/********** Template CSS **********/

:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

body {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

.back-to-top {
    position: fixed;
    display: none;
    left: 45px;
    /* تم تغيير القيمة من right إلى left */
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    padding: 20px;
}

.btn i {
    margin-left: 10px;
    margin-right: 10px;

}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-primary {

}
.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    /* تم تغيير القيمة من left إلى right */
    bottom: 0;
    width: 370px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}



.content {
    margin-right: 270px;
    /* تم تغيير القيمة من margin-left إلى margin-right */
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-right: 0;
        /* تم تغيير القيمة من margin-left إلى margin-right */
    }

    .sidebar.open {
        margin-right: -370px;
        /* تم تغيير القيمة من margin-left إلى margin-right */
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-right: 0;
        /* تم تغيير القيمة من margin-left إلى margin-right */
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-right: -250px;
        /* تم تغيير القيمة من margin-left إلى margin-right */
    }

    .sidebar.open {
        margin-right: 0;
        /* تم تغيير القيمة من margin-left إلى margin-right */
    }

    .content {
        width: 100%;
        margin-right: 0;
        /* تم تغيير القيمة من margin-left إلى margin-right */
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 12px 20px;
    color: var(--dark);
    border-left: none;
    border-right: 3px solid var(--light);
    border-radius: 30px 0 0s 30px;
    outline: none;
    font-size: 14px;
    font-weight: bold;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: #BB822C;
    background: #FFFFFF;
    border-color: #BB822C
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
    margin-left: 20px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 20px;
    left: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
    margin-left: 10px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 50px;
    margin-right: 15px;

    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

.dropdown-menu {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    /* تعديل حجم الخط هنا */

}
.dropdown-item.active,.dropdown-item:active {
    background-color: #BB822C
}

.dropdown-menu .dropdown-item.active {
    border-radius: 0px;
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0px 0px 0px 0px;
}

.text-start {
    text-align: right !important;
}

.rounded-circle {
    margin-left: 10px;
}

.dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.dialog-content {
    width: 35%;

    position: absolute;
    top: 50%;
    right: 50%; /* تم تغيير القيمة هنا */
    transform: translate(50%, -50%); /* تم تغيير القيمة هنا */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}




.btn-primary {
    color: #000;
    background-color: #D1A237;
    border-color: #D1A237
}

.text-primary{
    color: hwb(0 0% 100%) !important

}

.btn-primary:hover {
    color: #ffffff;
    background-color: #BB822C;
    border-color: #BB822C
}

.btn-check:focus+.btn-primary,.btn-primary:focus {
    color: #ffffff;
    background-color: #D1A237;
    border-color: #D1A237;
    box-shadow: 0 0 0 .25rem #c7892c
}

.btn-check:checked+.btn-primary,.btn-check:active+.btn-primary,.btn-primary:active,.btn-primary.active,.show>.btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #D1A237;
    border-color: #D1A237
}

.btn-check:checked+.btn-primary:focus,.btn-check:active+.btn-primary:focus,.btn-primary:active:focus,.btn-primary.active:focus,.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem #c7892c
}

.btn-primary:disabled,.btn-primary.disabled {
    color: #ffffff;
    background-color: #D1A237;
    border-color: #D1A237
}

.form-floating>label {
    right: 0;
}

.user-selection {
    position: relative;
}
.user-selection select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none; /* إخفاء السهم الافتراضي */
    -webkit-appearance: none; /* إخفاء السهم الافتراضي في Safari */
    -moz-appearance: none; /* إخفاء السهم الافتراضي في Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: left 10px center; /* ضبط موضع السهم إلى اليسار */
    background-size: 12px; /* حجم السهم */
    transition: border-color 0.3s;
}
.user-selection select:focus {
    border-color: #4b4b4b; /* تغيير لون الحدود عند التركيز */
    outline: none; /* إزالة التحديد الافتراضي */
}
.custom-btn {
    padding: 2px 10px;  /* تقليل الحشو الأفقي والعمودي */
    height: 30px;       /* التحكم في الارتفاع إذا لزم الأمر */
}



.swal2-container {
    z-index: 9999 !important;  /* تأكيد أن SweetAlert2 في المقدمة */
}